// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


ion-content {
  background-image: url('../assets/imgs/dana-hotel-background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: black !important;
}

.custom-tool-bar-background {
  background-color: rgba(0, 0, 0, 0.35);
}

.custom-button {
  color: black;
  background-color: rgb(234, 241, 177);
  background-image: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.logo {
  text-align: center;
  margin: 2em auto;
  .text {
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    color: white;
    font-size: 2em;
  }
  img {
    min-width: 2em;
  }
}

.job-content {
  color: white;
  font-size: 1.5em;
}

.mainBox {
  text-align: center;
  text-space: 2px;
  color: rgb(255, 255, 255);
  padding: 15px;
  margin-top: 84px;
  font-size: 3.3vh;
  background-color: rgba(68, 55, 51, 0.55);
  border-radius: 2px;
  box-shadow: 7px 9px 6px 0px rgba(0, 0, 0, 0.52), 0px 0px 0px 0px transparent;
  background-position: center;
  transition: ease-in-out 0.4s box-shadow, ease-in-out 0.4s opacity;
}

.job-content {
  text-align: left;
  text-space: 2px;
  color: rgb(255, 255, 255);
  padding: 15px;
  font-size: 2.5vh;
  background-color: rgba(68, 55, 51, 0.55);
  border-radius: 2px;
  box-shadow: 7px 9px 6px 0px rgba(0, 0, 0, 0.52), 0px 0px 0px 0px transparent;
  background-position: center;
  transition: ease-in-out 0.4s box-shadow, ease-in-out 0.4s opacity;
}

.mini-title {
  font-weight: bold;
  margin: 1em 0;
}
