page-welcome {
  .mainBox {
    height: 60vh;
    text-align: center;
    text-space: 2px;
    color: rgb(255, 255, 255);
    padding: 15px;
    margin-top: 84px;
    font-size: 3.3vh;
    background-color: rgba(68, 55, 51, 0.55);
    border-radius: 2px;
    box-shadow: 7px 9px 6px 0px rgba(0, 0, 0, 0.52), 0px 0px 0px 0px transparent;
    background-position: center;
    transition: ease-in-out 0.4s box-shadow, ease-in-out 0.4s opacity;


  }

}
