<ion-header>
  <ion-title>
    <div class="logo">
      <img src="../assets/imgs/hotel-shalom-logo.png"/>
      <div class="text">Hotel Shalom</div>
    </div>
  </ion-title>
</ion-header>

<ion-content padding>
  <div class="job-list">
    <ion-card *ngFor="let job of objectKeys(jobsMapper)" (click)="selectJob(job)" class="job-list-item">
      <ion-card-content [ngClass]="getJobItemClass(job)">
        <div class="job-reviewed-indication">
          <div *ngIf="isJobReviewed(job)">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </div>
          <div *ngIf="!isJobReviewed(job)">
            <ion-icon name="radio-button-off"></ion-icon>
          </div>
        </div>
        &nbsp;&nbsp;{{job}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <button ion-button full ion-button large icon-right color="dark" [disabled]="didReviewAll()" (click)="moveToFinishPage()" class="custom-button">
    I'm Ready
  </button>
</ion-footer>
